body {
  background: #f0f0f0;
}

h1 {
  i {
    display: inline-block;
    width: .9rem;
    height: .9rem;
    background: url("/statics/img/logo.png") no-repeat center center;
    background-size: 1.8rem;
    vertical-align: sub;
    margin-right: .6rem;
  }
}

.study_list_box {
  padding: .24rem .2rem .24rem;
}

.study_list {
  background-color: #fff;
  border-radius: .04rem;
  box-shadow: 0 .02rem .2rem rgba(0, 0, 0, .17);

  &:not(:first-child) {
    margin-top: .24rem;
  }
  .study_list_pannel {
    padding: .22rem .5rem .32rem;
  }
  h2 {
    font-size: .32rem;
    font-weight: bold;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: -.28rem;
      top: .14rem;
      width: .12rem;
      height: .12rem;
      background: #333333;
    }
  }
  h3 {
    font-size: .28rem;
    margin: .36rem 0;
  }
  p{
    font-size: .28rem;
    color: #808080;
    line-height: .4rem;
    margin-bottom: .36rem;
  }
}
.price {
  overflow: hidden;
  background: #f7f7f7;
  padding: .2rem;
  position: relative;
  h4{
    font-size: .36rem;
    color: #f8510a;
    padding: .18rem 1.92rem .18rem 0;
    line-height: .36rem;
    .original {
      font-size: .28rem;
      color: #808080;
      margin-left: .44rem;
      text-decoration: line-through;
    }
    .privilege {
      margin-left: .14rem;
      color: #ffffff;
      font-size: .2rem;
      display: inline-block;
      width: .6rem;
      height: .3rem;
      box-sizing: border-box;
      background: #f8510a;
      border-radius: .04rem;
      text-align: center;
      line-height: .3rem;
      margin-top: .04rem;
      vertical-align: top;
    }
  }
  .status {
    height: .72rem;
    width: 1.9rem;
    border-radius: .04rem;
    text-align: center;
    line-height: .72rem;
    font-size: .3rem;
    position: absolute;
    right: .2rem;
    top: .2rem;
    box-sizing: border-box;
  }
}



.price .daibao {
  border: 1px solid #ff7f3a;
  background-color: #ff7f3a;
  color: #fff;
}

.price .daishen {
  border: 1px solid #ff7f3a;
  color: #ff7f3a;
}

.price .yibao {
  border: 1px solid #bfbfbf;
}

.price .bubao {
  color: #808080;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
}

.signup_alert {
  display: none;
  width: 29rem;
  height: 19.4rem;
  background-color: #fff;
  border-radius: .4rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -14.5rem;
  margin-top: -10rem;
  z-index: 101;
  overflow: hidden;
}

.select_list {
  margin-top: 2.1rem;
  padding-left: 3.4rem;
}

.select_list p {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.select {
  height: 1.4rem;
  line-height: 1.4rem;
  padding-left: 2rem;
}

.select_l {
  width: 50%;
  float: left;
}

.select input {
  -webkit-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;
  border: 1px solid #828282;
  vertical-align: middle;
  margin-right: 1.2rem;
}

.select_l label {
  font-size: 1.2rem;
  color: #808080;
}

.button {
  height: 4.9rem;
  border-top: 1px solid #e3e3e3;
  margin-top: 2rem;
  text-align: center;
}

.button a {
  display: block;
  width: 50%;
  float: left;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.5rem;
}

.button a.submit {
  color: #ff7f3a;
  border-left: 1px solid #e3e3e3;
  box-sizing: border-box;
}
